<div class="player">
    <a class="close-btn" (click)="onClose()">X</a>
    <div class="heading">
        Player Name
    </div>
    <div class="players">
        <ul>
            <li>
                Id: pb-ihfghigxohgofjgofgfgfdg
            </li>
            <li>Device ID:iwillneverplayagain</li>
            
            <li>Name:iwillneverplayagain</li>
            <li>Rank: #34</li>
            <li>Score : 34545</li>
            <li>Kills: 6575</li>
            <li>Death: 6564</li>
            <li>K/D: 5646</li>
            <li>Last Seen: 2021/08/21</li>
            <li><button class="btn btn-primary btn-block notify-btn">Notify Me</button></li>
        </ul>
    </div>
</div>