<h2 mat-dialog-title>Welcome to BCS Server Manager</h2>
<mat-dialog-content class="mat-typography">
  <h3>Manage/Visualize Your BombSquad Server Efficiently</h3>
  <p>Your one-stop solution for managing your BombSquad server. Here you can:</p>
  <ul>
    <li>View live status of the server, including current players, scores, and the map running on the server.</li>
    <li>Check the leaderboard and subscribe to notifications for specific players to get web push notifications when
      they
      come online.</li>
    <li>Access server management tools to configure server settings, manage roles and permissions, and view all server
      logs in one place.</li>
  </ul>
  <h3>Let's get started by adding your server details</h3>
  <ul>
    <li>Navigate to switch server page.</li>
    <li>Click add host and enter game server IP PORT.</li>
    <li>Thats it, this IP PORT will be saved in your browser, to let you navigate across servers.</li>
    <li>If you are admin of server, navigate to Admin Tools and login with password.</li>
  </ul>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Add host</button>
</mat-dialog-actions>
