<div class="main-container">
  <div class="players-section">
    <div class="search">
      <mat-form-field class="full-width">
        <mat-label>Search</mat-label>
        <input type="email" matInput placeholder="pb-th347Wer== or Android243" [formControl]="searchKeyControl"
          (keyup.enter)="onSearch($event)" (focusout)="onSearch($event)">
        <mat-hint>Press Enter after typing</mat-hint>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Select database</mat-label>
        <mat-select [formControl]="selectDBControl">
          <mat-option *ngFor="let db of DBS" [value]="db">
            {{db}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="results">
      <div class="result" *ngFor="let profile of getObjectKeys(PROFILES)">
        <mat-expansion-panel (opened)="onOpen(profile)">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Name: {{ PROFILES[profile].name}}
            </mat-panel-title>
            <mat-panel-description>
              account_id {{ profile }}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <ul>
            <li>Linked Accounts: {{ PROFILES[profile].display_string}}</li>
            <li *ngIf="getRestrictionInfo(profile)">isBanned: {{getRestrictionInfo(profile).isBan }}</li>
            <li *ngIf="getRestrictionInfo(profile)">isMuted: {{getRestrictionInfo(profile).isMuted }}</li>
            <li>Account Created On: {{PROFILES[profile].accountAge }}</li>
            <li>RegisteredOn: {{ getDateTime(PROFILES[profile].registerOn) }}</li>
            <li>CanStartKickVote: {{PROFILES[profile].canStartKickVote }}</li>
            <li>Active SpamCount: {{PROFILES[profile].spamCount}}</li>
            <li>LastSpam: {{ getDateTime(PROFILES[profile].lastSpam) }}</li>
            <li>WarnCount: {{PROFILES[profile].warnCount }}</li>
            <li>LastWarned: {{ getDateTime(PROFILES[profile].lastWarned) }}</li>
            <li>Verified:{{PROFILES[profile].verified }}</li>
            <li>LastJoin: {{ getDateTime(PROFILES[profile].lastJoin) }}</li>
            <li>LastIP: {{PROFILES[profile].lastIP }}</li>
            <li>DeviceUUID: {{PROFILES[profile].deviceUUID}}</li>
            <li>LastMsgTime: {{ getDateTime(PROFILES[profile].lastMsgTime)}}</li>
            <li>LastMsg: {{PROFILES[profile].lastMsg}}</li>
            <li *ngIf="getRestrictionInfo(profile)">Extra: {{getRestrictionInfo(profile).extra}}</li>
          </ul>
          <div class="options" *ngIf="getRestrictionInfo(profile)">
            <button mat-raised-button [color]="getRestrictionInfo(profile).isBan ? 'accent' : 'warn'"
              (click)="onBanClick(profile)">{{getRestrictionInfo(profile).isBan ? 'Unban':
              'Ban'}}</button>
            <button mat-flat-button [color]="getRestrictionInfo(profile).isMuted ? 'accent' : 'warn'"
              (click)="onUnmuteClick(profile)">{{getRestrictionInfo(profile).isMuted ?
              'UnMute': 'Mute'}}</button>
            <button mat-flat-button [color]="getRestrictionInfo(profile).isKickVoteDisabled ? 'accent' : 'warn'"
              (click)="onKickVoteClick(profile)">
              {{getRestrictionInfo(profile).isKickVoteDisabled ? 'enable kick votes': 'disable kick votes'}}</button>
          </div>
          <span *ngIf="updateInQueue.includes(profile) ">....processing...</span>
        </mat-expansion-panel>

      </div>

    </div>
  </div>
</div>