.main-container{
    width: 80%;
    margin: auto;
}


.left-container{width: 28%;margin-top: 2rem;}
.leaderboard{
    width: 70%;
    height: 85vh;
   // background-color: pink;
}
.mat-mdc-table{
    width: 100%;
    background-color: rgb(139 133 133 / 7%);
}
.mat-mdc-form-field{
    margin-left: 5em;
    width: 60%;
}
.mat-mdc-paginator{
    background-color: rgb(139 133 133 / 7%);
}
td{
  cursor: pointer;
}
/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
.mat-form-field-appearance-standard .mat-form-field-flex{padding-top: 0em !important;}
/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
.mat-form-field-wrapper{padding-bottom: 0em;}


@media only screen and (max-width: 768px) {
    .hide{
        display: none;
    }
    .display-mob-prof{
        display: block;
    }
    .left-container{
       // display: none;
       width: 100%;
    }
    .leaderboard{

        width: 100%;
    }
    .main-container{
        width: 85%;
    }
}
