<div class="main-container">
  <div class="tools">
    <div class="row">
      <div class="option quick-tools" routerLink='/admin/quick'>
        Quick Tools
      </div>
    </div>
    <div class="row">
      <div class="server-settings option col" routerLink='/admin/settings'>
        Settings
      </div>
      <div class="roles-management option col">
        Manage Roles
      </div>
    </div>
    <div class="row">
      <div class="player-profiles option col">
        Player Profiles
      </div>
      <div class="server-logs option col">
        Server Logs
      </div>
    </div>
  </div>
</div>