.main-container {
  width: 80%;
  margin: auto;
  padding-top: 3rem;
  display: flex;
  justify-content: center;
}

.option {
  padding: 2rem;
  width: 100%;
  margin-bottom: 30px;
  margin: 1rem;
  text-align: center;
  background-color: #4158d0;
  background-image: linear-gradient(
    303deg,
    #4158d0 0%,
    #c850c0 70%,
    #ffcc70 100%
  );

  cursor: pointer;
  &:hover {
    background-color: #4158d0;
    background-image: linear-gradient(
      270deg,
      #4158d0 0%,
      #c850c0 70%,
      #ffcc70 100%
    );
  }
  &:active {
    background-color: #4158d0;
    background-image: linear-gradient(
      270deg,
      #4158d0 0%,
      #c850c0 32%,
      #ffcc70 100%
    );
  }
}
