<div class="main-container">
  <div class="tools">
    <div class="row">
      <div class="option quick-tools foreground" routerLink='/admin/quick'>
        Quick Tools
      </div>
    </div>
    <div class="row">
      <div class="server-settings option col foreground" routerLink='/admin/settings'>
        Settings
      </div>
      <div class="roles-management option col foreground" routerLink="/admin/roles">
        Manage Roles
      </div>
    </div>
    <div class="row">
      <div class="player-profiles option col foreground" routerLink="/admin/players">
        Player Profiles
      </div>
      <div class="server-logs option col foreground" routerLink="/admin/server-logs">
        Server Logs
      </div>
    </div>
    <div class="row">
      <div class="player-profiles option col foreground" routerLink="/admin/perks">
        Manage Perks
      </div>
      <div class="server-logs option col foreground" routerLink="/admin/config">
        Server Config
      </div>
    </div>
  </div>
</div>