.setting-group {
  border: 1px solid rgba(171, 169, 169, 0.752);
  padding: 1rem 2px;
  margin-top: 10px;
  transform: translateY(-60%);
  transition: opacity 0.3s ease-in, transform 0.3s ease-in;
}

.my-div-show {
  transform: translateY(0%);
}

.setting-title {
  font-weight: 400;
  display: flex;
  align-items: center;
  padding: 0 3rem;
  label {
    padding-left: 10px;
  }
}

.form-field {
  width: 100%;
}

.form-field-master {
  width: 80%;
  margin: auto;
}
