<div [formGroup]="formGroup" class="reactive-form-container">
  <ng-container *ngFor="let controlName of getFormControls(formGroup)">
    <ng-container [ngSwitch]="getControlType($any(formGroup.get(controlName)))">
      <!-- Nested Group -->
      <div *ngSwitchCase="'group'" [formGroup]="$any(formGroup.get(controlName))" class="nested-group-block">
        <div class="group-header-bar" (click)="onExpandToogle(controlName)">
          <div class="group-title-left">
            <mat-icon class="group-folder-icon">{{ isExpended(controlName) ? 'folder_open' : 'folder' }}</mat-icon>
            <span class="group-name">{{ controlName }}</span>
          </div>
          <button type="button" class="btn-toggle-group">
            <mat-icon>{{ isExpended(controlName) ? 'expand_more' : 'chevron_right' }}</mat-icon>
          </button>
        </div>

        <div class="nested-group-body" *ngIf="isExpended(controlName)" [@slide]>
          <!-- Recursive rendering -->
          <app-reactive-form [formGroup]="$any(formGroup.get(controlName))"></app-reactive-form>
        </div>
      </div>

      <!-- Nested Array -->
      <div *ngSwitchCase="'array'" [formArrayName]="controlName" class="nested-array-block">
        <div class="group-header-bar" (click)="onExpandToogle(controlName)">
          <div class="group-title-left">
            <mat-icon class="group-folder-icon">data_array</mat-icon>
            <span class="group-name">{{ controlName }} (List)</span>
          </div>
          <button type="button" class="btn-toggle-group">
            <mat-icon>{{ isExpended(controlName) ? 'expand_more' : 'chevron_right' }}</mat-icon>
          </button>
        </div>

        <div class="nested-array-body" *ngIf="isExpended(controlName)">
          <div *ngFor="let arrayItem of getFormArrayControls($any(formGroup.get(controlName)))" class="array-item-field">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>{{ controlName }} [{{ arrayItem }}]</mat-label>
              <input matInput [formControlName]="arrayItem" />
            </mat-form-field>
          </div>
        </div>
      </div>

      <!-- Standard Primitive Control -->
      <div *ngSwitchDefault class="primitive-control-field">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>{{ controlName }}</mat-label>

          <!-- Boolean Dropdown -->
          <mat-select [formControlName]="controlName" *ngIf="valueTypeBoolean($any(formGroup.get(controlName)))">
            <mat-option [value]="true">
              <span class="opt-true">True / Enabled</span>
            </mat-option>
            <mat-option [value]="false">
              <span class="opt-false">False / Disabled</span>
            </mat-option>
          </mat-select>

          <!-- Number Input -->
          <input
            matInput
            [formControlName]="controlName"
            *ngIf="!valueTypeBoolean($any(formGroup.get(controlName))) && valueTypeNumber($any(formGroup.get(controlName)))"
            type="number"
            appNumberValueAccessor
          />

          <!-- Text Input -->
          <input
            matInput
            [formControlName]="controlName"
            *ngIf="!valueTypeBoolean($any(formGroup.get(controlName))) && !valueTypeNumber($any(formGroup.get(controlName)))"
          />

          <mat-error *ngIf="hasError($any(formGroup.get(controlName)))">
            Invalid input format
          </mat-error>
        </mat-form-field>
      </div>
    </ng-container>
  </ng-container>
</div>