.main-container {
  width: 80%;
  margin: auto;
  padding-top: 3rem;
  display: flex;
  justify-content: center;
}

.settings-main {
  background-color: rgba(250, 235, 215, 0.527);
  padding: 2rem 5rem;
}
