<div class="main-container">


  <div class="roles-list">
    <div class="new-role">
      <button mat-raised-button color="primary" (click)="onAddRole()">+ Add Role</button>
    </div>
    <div class="add-role foreground" *ngIf="showCreateNewRoleComponent">
      <mat-form-field>
        <mat-label>Role Name</mat-label>
        <input matInput [(ngModel)]="newRoleName">
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="onCreateRole()">Create</button>
    </div>
    <div class="spinner-block" *ngIf="isLoading">
      <mat-spinner class="spinner"></mat-spinner>
    </div>
    <ng-container *ngFor="let controlName of getFormControls(formGroup)">
      <div class="role foreground" [formGroup]="$any(formGroup.get(controlName))">
        <mat-form-field>
          <mat-label>Role (disabled)</mat-label>
          <input matInput disabled value="{{controlName}}">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Role Tag</mat-label>
          <input matInput [formControlName]="'tag'">
        </mat-form-field> <br>
        <mat-form-field>
          <mat-label>Ids</mat-label>
          <textarea matInput [value]="formArrayToCommaSeparatedString('ids', controlName)"
            (input)="commaSeparatedStringToFormArray($event, controlName , 'ids')"></textarea>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Commands</mat-label>
          <textarea matInput [value]="formArrayToCommaSeparatedString('commands', controlName)"
            (input)="commaSeparatedStringToFormArray($event, controlName , 'commands')"></textarea>
        </mat-form-field><br>
        <span class="tip">* Ids and commands are comma seperated</span>
      </div>
    </ng-container>
  </div>
</div>

<div id="snackbar" [ngClass]="{'show': modified }">Save changes ? <span class="btn save" (click)="onSave()">Save</span>
</div>