nav{
    padding-top:4rem;
    //padding-left: 2rem;
}
ul{
    li{
        display: inline;
        margin-left:4rem;
        cursor: pointer;
    }
    .active{
        font-size:2rem;
    }
}


@media only screen and (max-width: 768px) {
    ul {
        li{
        margin-right: 2em;
        margin-left: 0;
        }
        .active{font-size: 1.7em;}
    }

} 