.main-container {
  width: 85%;
  margin: auto;
  margin-top: 2rem;
}
.sub-container1 {
  // background-color: pink;
  //height:80vh;
  margin-bottom: 2rem;
  //width:50%;
  .sc11 {
    // background-color: red;
    background-color: rgba(105, 105, 105, 0.405);
    //border:1px solid black;
    width: 97%;
    // margin-left: 6.7%;
    height: fit-content;
  }
}
table {
  border-collapse: separate;
  border-spacing: 0;
  min-width: 350px;
}

.sub-container2 {
  background-color: rgba(105, 105, 105, 0.405);
  margin-bottom: 2rem;
}

.live-card {
  width: 70%;
  height: 3rem;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  // background-color: rgb(167 167 167 / 30%);

  background-color: #06c5c8;
  background-image: linear-gradient(90deg, #06c5c8 0%, #fc00ff 100%);

  border-radius: 8px;
  //border:1px solid black;
  padding-top: 1.2rem;
  padding-left: 1rem;
}
.leaderboard {
  width: 100%;
  margin-top: 1em;
  .heading {
    padding-top: 0.9rem;
    text-align: center;
    display: none;
  }
  table {
    width: 97%;
  }
}

.live-players {
  .server-name {
    margin-top: 2rem;
    width: 100%;
    font-size: 1.6rem;
    line-height: normal;
    text-align: center;
  }
  .sessionType {
    font-size: 1rem;
    margin-top: 20px;
  }

  .scoreboard {
    text-align: center;
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
  .teamA {
    flex-grow: 1;
    margin-right: 1rem;
    .header {
      padding: 1rem;
      background-color: rgb(63, 81, 181);
      .score {
        padding-top: 4px;
        font-size: 1.7rem;
      }
    }
  }
  .teamB {
    margin-left: 1rem;
    flex-grow: 1;
    .header {
      padding: 1rem;
      background-color: rgb(244, 67, 54);
      .score {
        padding-top: 4px;
        font-size: 1.7rem;
      }
    }
  }
  .players {
    padding-left: 0.7rem;
    text-align: left;
    padding-top: 1rem;
    li {
      padding-bottom: 1rem;
    }
  }
  .ffa-player {
    padding-top: 0.5rem;
  }
}

.free-for-all {
  justify-content: center;
}
.mat-mdc-table {
  background-color: rgb(139 133 133 / 13%);
}

@media only screen and (max-width: 768px) {
  .sub-container1 {
    margin-bottom: 1rem;
    .sc11 {
      width: 100%;
    }
  }
  .leaderboard {
    table {
      width: 100%;
    }
  }
}
