.main-container {
  width: 80%;
  margin: auto;
  min-height: 75vh;
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

h1,
h3 {
  text-align: center;
}

.new {
  display: flex;
  justify-content: space-around;
}
.server {
  background-color: rgba(93, 93, 93, 0.785);
  padding: 2rem;
  margin: 1rem;
  border-radius: 12px;
  cursor: pointer;
  min-width: 220px;
}
.new-server {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 15px;
}

.selected {
  background-color: rgb(5 22 116 / 79%);
}

.error {
  color: rgb(247, 51, 51);
  text-align: center;
  border: rgb(247, 51, 51) 1px solid;
  padding: 4px;
}
