/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.bsg {
  // background-color: #1b203a;
  background-color: #3e00bd;
  background-image: linear-gradient(331deg, #3e00bd 0%, #1b51f4 100%);
  background-attachment: fixed;
}

:root {
  color-scheme: dark light;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
}

.d-flex {
  display: flex;
}

.mdc-text-field--filled {
  background-color: transparent !important;
}
.mdc-text-field--focused .mdc-floating-label {
  color: whitesmoke !important;
}

.full-width {
  width: 100%;
}

.spinner-block {
  height: 75vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
